data/
result/
hidden*/
model*/
src/__pycache__/
*.log
*/*.log
.project
.pydevproject
.vscode/
*/.ipynb_checkpoints/
.ipynb_checkpoints/
rlipp/
src/copied_notebooks/
temp/
archive*/
logs/
es_scripts/
plots/
